doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
  link(rel='apple-touch-icon', sizes='57x57', href='/images/favicon/apple-icon-57x57.png')
  link(rel='apple-touch-icon', sizes='60x60', href='/images/favicon/apple-icon-60x60.png')
  link(rel='apple-touch-icon', sizes='72x72', href='/images/favicon/apple-icon-72x72.png')
  link(rel='apple-touch-icon', sizes='76x76', href='/images/favicon/apple-icon-76x76.png')
  link(rel='apple-touch-icon', sizes='114x114', href='/images/favicon/apple-icon-114x114.png')
  link(rel='apple-touch-icon', sizes='120x120', href='/images/favicon/apple-icon-120x120.png')
  link(rel='apple-touch-icon', sizes='144x144', href='/images/favicon/apple-icon-144x144.png')
  link(rel='apple-touch-icon', sizes='152x152', href='/images/faviconapple-icon-152x152.png')
  link(rel='apple-touch-icon', sizes='180x180', href='/images/favicon/apple-icon-180x180.png')
  link(rel='icon', type='image/png', sizes='192x192', href='/images/favicon/android-icon-192x192.png')
  link(rel='icon', type='image/png', sizes='32x32', href='/images/favicon/favicon-32x32.png')
  link(rel='icon', type='image/png', sizes='96x96', href='/images/faviconfavicon-96x96.png')
  link(rel='icon', type='image/png', sizes='16x16', href='/images/favicon/favicon-16x16.png')
  link(rel='manifest', href='/manifest.json')
  meta(name='msapplication-TileColor', content='#ffffff')
  meta(name='msapplication-TileImage', content='/ms-icon-144x144.png')
  meta(name='theme-color', content='#ffffff')

  link(rel='stylesheet', href='/css/index.css')
  title Better Code
body
  header
    .logo
      img.logo-img(src='/images/logo.png', alt='Better Code')
  .app
    form.signup-form(action='')
      input.input-email#email(type='email', name='input-email', placeholder='Deja aqui tu email')
      button.btn.waves-effect.waves-light#btn(type='submit', name='action')
        span Enviar

  footer.site-footer
    .social-networks
      a.facebook(href='https://www.facebook.com/BetterCodeHQ')
        img.facebook-icon(src='/images/facebook.png', alt='')
      a.twitter(href='https://twitter.com/BetterCodeHQ')
        img.twitter-icon(src='/images/twitter.png', alt='')

script(type="application/javascript", src="/js/bundle.js")
